
#logo {
	width: 300px;
	height: 100px;
	background-color: red;
	color: white;font-weight: bold;
	font-size: 4rem;
	text-align: center;
	/*display: block;*/
}

#text {
	width: 100px;
	height: 50px;
	background-color: red;
	color: white;font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	/*display: inline-block;*/
}

body {
	background-color: #504a4a;
}

.hidden {
	display: none;
}

img {
	border-radius: 50%;
	text-align: center;
}

.description {
	color: red;
	text-align: center;
}

.col {
	border: 1px white solid;
	margin: 5px;
	padding: 5px;
	min-height: 400px;	
}

.name {
	background-color: orange;
	min-width: 100%;
	text-align: center;
	font-size: 1.5rem;
}


.mBoarder {
	border: 5px blue solid;
	border-radius: 50%;
}

.fBoarder {
	border: 5px pink solid;
	border-radius: 50%;
}
.btn {
	margin: 10px;
	background-color: #518cca;
	color: white;
}

.navbar {
	background-color: black;
}




